@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 32px;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body.body--menu-open {
  overflow: hidden;
}

.header {
  position: relative;
  margin: 0 -32px;
  padding: 40px 32px 70px 32px;
}

.logo {
  z-index: 2;
  position: relative;
}
.logo path {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.logo circle {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.logo--all-white path {
  fill: #ffffff;
}
.logo--all-white path:last-child {
  fill: rgba(37, 43, 70, 0.8);
}
.logo--all-white circle {
  fill: #ffffff;
}
.logo--white-wording path {
  fill: #ffffff;
}

.burger-menu {
  width: 18px;
  height: 15px;
  position: absolute;
  right: 32px;
  margin: 5px 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 2;
  background: none;
  border: none;
}
.burger-menu__inner-1 {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #252b46;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  top: 0px;
}
.burger-menu__inner-2 {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #252b46;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  top: 6px;
}
.burger-menu__inner-3 {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #252b46;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  top: 12px;
}
.burger-menu--open > .burger-menu__inner-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  left: 4px;
  background: #ffffff;
}
.burger-menu--open > .burger-menu__inner-2 {
  width: 0%;
  opacity: 0;
  background: #ffffff;
}
.burger-menu--open > .burger-menu__inner-3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 12.5px;
  left: 4px;
  background: #ffffff;
}
.burger-menu--open + .nav {
  border-bottom-left-radius: 0;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  overflow: hidden;
}

.nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background: rgba(37, 43, 70, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  padding: 105px 32px 45px 32px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  border-bottom-left-radius: 100%;
  -webkit-transform: translate(100%, -100%);
          transform: translate(100%, -100%);
  z-index: 1;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}
.nav-list li:last-child {
  border: none;
  padding: 24px 0;
}
.nav-list__item {
  padding: 26px 0;
  border-top: 1px solid #9194a1;
  border-bottom: 1px solid #9194a1;
}
.nav-list__item--no-border {
  border: none;
}
.nav-list__item--padding-b-t-19px {
  padding: 19px 0;
}
.nav-list__link {
  text-decoration: none;
  color: white;
}
.nav-list--font-20px {
  font-size: 20px;
}
.nav-list--margin-t-20-b-30 {
  margin: 20px 0 30px 0;
}

.social-media__icon {
  margin: 0 19px;
}

.button {
  padding: 16px 20px;
  color: #ffffff;
  border-radius: 4px;
  background: #5368df;
  border: none;
  -webkit-box-shadow: 0px 6px 9px -3px rgba(170, 170, 170, 0.8);
          box-shadow: 0px 6px 9px -3px rgba(170, 170, 170, 0.8);
  cursor: pointer;
}
.button--margin-right {
  margin-right: 13px;
}
.button--grey-background {
  background: #f7f7f7;
  color: #6d6c7c;
}
.button--red {
  background: #fa5757;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.button--uppercase {
  text-transform: uppercase;
}
.button--full-width {
  width: 100%;
}
.button--transparent {
  background: transparent;
  border: 2px solid #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 15px;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .button--red-desktop {
    background: #fa5757;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
  }
}
.button--display-none-mobile {
  display: none;
}
@media screen and (min-width: 768px) {
  .button--display-none-mobile {
    display: inline-block;
  }
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.section-image-wrapper::before {
  content: "";
  background: #5368df;
  position: absolute;
  width: 95%;
  height: 80%;
  right: -32px;
  top: 20%;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 40%;
  z-index: -1;
}
.section-image-wrapper--background-rotate-180deg {
  margin-bottom: 13%;
}
.section-image-wrapper--background-rotate-180deg::before {
  height: 95%;
  width: 85%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: auto;
  left: -32px;
}

.section-image--negative-margin-22px {
  margin: 0 -22px;
}

.section-content__title {
  color: #252b46;
  font-weight: 500;
  text-align: center;
}
.section-content__title--big {
  font-size: 30px;
}
.section-content__title--white {
  color: #ffffff;
}
.section-content__paragraph {
  color: #9194a1;
  line-height: 1.6;
  margin-bottom: 40px;
  text-align: center;
  font-size: 15px;
}

.features {
  margin-top: 135px;
}

.features-table__nav-list {
  list-style: none;
  text-align: center;
  color: #9194a1;
  padding: 0;
  margin: 0;
  font-size: 18px;
}
.features-table__nav-list li:last-child {
  border-bottom: 1px solid #9194a1;
}
.features-table__nav-item {
  padding: 22px 0;
  border-top: 1px solid #9194a1;
  cursor: pointer;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  position: relative;
}
.features-table__nav-item::after {
  content: "";
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  background: #fa5757;
  width: 100%;
  height: 4px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
}
.features-table__nav-item--active {
  color: #252b46;
}
.features-table__nav-item--active::after {
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
}
.features-table__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -32px;
}
.features-table__content-wrapper > div:nth-of-type(1) {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.features-table__content-wrapper > div:nth-of-type(1).features-table__content-block--active {
  -webkit-animation-name: is-active-1;
          animation-name: is-active-1;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.features-table__content-wrapper > div:nth-of-type(1):not(.features-table__content-block--active) {
  -webkit-animation-name: going-out-1;
          animation-name: going-out-1;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
}
.features-table__content-wrapper > div:nth-of-type(2) {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.features-table__content-wrapper > div:nth-of-type(2).features-table__content-block--active {
  -webkit-animation-name: is-active-2;
          animation-name: is-active-2;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.features-table__content-wrapper > div:nth-of-type(2):not(.features-table__content-block--active) {
  -webkit-animation-name: going-out-2;
          animation-name: going-out-2;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
}
.features-table__content-wrapper > div:nth-of-type(3) {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.features-table__content-wrapper > div:nth-of-type(3).features-table__content-block--active {
  -webkit-animation-name: is-active-3;
          animation-name: is-active-3;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.features-table__content-wrapper > div:nth-of-type(3):not(.features-table__content-block--active) {
  -webkit-animation-name: going-out-3;
          animation-name: going-out-3;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
}
.features-table__content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 72px;
  width: 100%;
  min-width: 100vw;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  padding: 0 32px;
  margin-bottom: 50px;
}

@-webkit-keyframes is-active-1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes is-active-1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes is-active-2 {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes is-active-2 {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@-webkit-keyframes is-active-3 {
  0% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}
@keyframes is-active-3 {
  0% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}
@-webkit-keyframes going-out-1 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes going-out-1 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@-webkit-keyframes going-out-2 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes going-out-2 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes going-out-3 {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes going-out-3 {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
.download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.download-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.download-card {
  margin: 0 15px 40px 15px;
  text-align: center;
  border-radius: 9px;
  -webkit-box-shadow: 0px 6px 9px -3px rgba(170, 170, 170, 0.8);
          box-shadow: 0px 6px 9px -3px rgba(170, 170, 170, 0.8);
  padding: 45px 25px 25px 25px;
}
.download-card__title {
  color: #252b46;
}
.download-card__version {
  color: #9194a1;
}
.download-card__dots-separator {
  margin: 0 -25px 22px -25px;
  width: calc(100% + 50px);
}

.faq {
  margin: 80px 0 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq-content {
  margin-bottom: 18px;
}
.faq-content__item {
  border-bottom: 1px solid #9194a1;
  position: relative;
  line-height: 1.5;
  padding-bottom: 23px;
  margin-bottom: 30px;
}
.faq-content__item--active .faq-content__question {
  padding-bottom: 18px;
}
.faq-content__item--active .faq-content__arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.faq-content__item--active .faq-content__arrow path {
  stroke: #fa5757;
}
.faq-content__item--active .faq-content__answer {
  max-height: 100px;
}
.faq-content__question {
  color: #252b46;
  cursor: pointer;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.faq-content__question-statement {
  display: inline-block;
  margin: 0;
}
.faq-content__arrow {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.faq-content__arrow path {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.faq-content__answer {
  color: #9194a1;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.contact {
  background: #5368df;
  padding: 72px 32px 0 32px;
  margin: 0 -32px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.contact__subtitle {
  text-transform: uppercase;
  letter-spacing: 0.18em;
  font-size: 15px;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
}
.contact-form__email {
  border: none;
  border-radius: 4px;
  padding: 18px 20px;
}
.contact-form__email::-webkit-input-placeholder {
  color: #9194a1;
}
.contact-form__email::-moz-placeholder {
  color: #9194a1;
}
.contact-form__email:-ms-input-placeholder {
  color: #9194a1;
}
.contact-form__email::-ms-input-placeholder {
  color: #9194a1;
}
.contact-form__email::placeholder {
  color: #9194a1;
}
.contact-form__error {
  max-height: 0;
  margin-bottom: 16px;
  visibility: hidden;
  background: #fa5757;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-style: italic;
  text-align: left;
  font-size: 12px;
  position: relative;
}
.contact-form--invalid {
  margin-bottom: 29px;
}
.contact-form--invalid .contact-form__email {
  border: 2px solid #fa5757;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.contact-form--invalid .contact-form__error {
  visibility: visible;
  max-height: 30px;
  padding: 6px 12px;
}
.contact-form--invalid .contact-form__error::before {
  content: url("../images/icon-error.svg");
  position: absolute;
  right: 16px;
  bottom: 43px;
}

.footer {
  position: relative;
  background: #252b46;
  margin: 0 -32px;
}
.footer .attribution {
  color: #ffffff;
  text-align: center;
  font-size: 11px;
}
.footer .attribution a {
  color: #9194a1;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0;
}
/*# sourceMappingURL=style.css.map */
