@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0 32px;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body.body--menu-open {
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  body {
    padding: 0 80px;
  }
}
@media screen and (min-width: 1024px) {
  body {
    padding: 0 165px;
  }
}

.header {
  position: relative;
  margin: 0 -32px;
  padding: 40px 32px 70px 32px;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 48px 0 100px 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo {
  z-index: 2;
  position: relative;
}
.logo path {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.logo circle {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.logo--all-white path {
  fill: #ffffff;
}
.logo--all-white path:last-child {
  fill: rgba(37, 43, 70, 0.8);
}
.logo--all-white circle {
  fill: #ffffff;
}
.logo--white-wording path {
  fill: #ffffff;
}

.burger-menu {
  width: 18px;
  height: 15px;
  position: absolute;
  right: 32px;
  margin: 5px 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 2;
  background: none;
  border: none;
}
@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}
.burger-menu__inner-1 {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #252b46;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  top: 0px;
}
.burger-menu__inner-2 {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #252b46;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  top: 6px;
}
.burger-menu__inner-3 {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #252b46;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  top: 12px;
}
.burger-menu--open > .burger-menu__inner-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  left: 4px;
  background: #ffffff;
}
.burger-menu--open > .burger-menu__inner-2 {
  width: 0%;
  opacity: 0;
  background: #ffffff;
}
.burger-menu--open > .burger-menu__inner-3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 12.5px;
  left: 4px;
  background: #ffffff;
}
.burger-menu--open + .nav {
  border-bottom-left-radius: 0;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  overflow: hidden;
}

.nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background: rgba(37, 43, 70, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  padding: 105px 32px 45px 32px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  border-bottom-left-radius: 100%;
  -webkit-transform: translate(100%, -100%);
          transform: translate(100%, -100%);
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .nav {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    background: none;
    padding: 0;
    height: auto;
    position: static;
    width: auto;
  }
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.nav-list li:last-child {
  border: none;
  padding: 24px 0;
}
@media screen and (min-width: 768px) {
  .nav-list li:last-child {
    padding: 0;
    margin-right: 0;
  }
}
.nav-list__item {
  padding: 26px 0;
  border-top: 1px solid #9194a1;
  border-bottom: 1px solid #9194a1;
}
@media screen and (min-width: 768px) {
  .nav-list__item {
    border: none;
    padding: 0;
    margin: 0 10px;
  }
}
@media screen and (min-width: 1024px) {
  .nav-list__item {
    margin: 0 24px;
  }
}
.nav-list__item--no-border {
  border: none;
}
.nav-list__item--padding-b-t-19px-mobile {
  padding: 19px 0;
}
@media screen and (min-width: 768px) {
  .nav-list__item--padding-b-t-19px-mobile {
    padding: 0;
  }
}
.nav-list__link {
  text-decoration: none;
  color: white;
}
@media screen and (min-width: 768px) {
  .nav-list__link {
    color: #252b46;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .nav-list__link:hover {
    color: #fa5757;
  }
}
@media screen and (min-width: 768px) {
  .nav-list__link--white-desktop {
    color: #ffffff;
  }
}
.nav-list--font-20px {
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .nav-list--font-18px-desktop {
    font-size: 18px;
  }
}
.nav-list--margin-t-20-b-30-mobile {
  margin: 20px 0 30px 0;
}
@media screen and (min-width: 768px) {
  .nav-list--margin-t-20-b-30-mobile {
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .nav-list--margin-l-40px-desktop {
    margin-left: 40px;
  }
}
.nav-list--flex-grow-desktop {
  width: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.social-media__icon {
  margin: 0 19px;
}
@media screen and (min-width: 768px) {
  .social-media__icon:hover path {
    fill: #fa5757;
  }
}
.social-media__icon path {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
@media screen and (min-width: 768px) {
  .social-media--display-none-desktop {
    display: none;
  }
}

.button {
  padding: 14px 18px;
  color: #ffffff;
  border-radius: 4px;
  background: #5368df;
  border: 2px solid #5368df;
  -webkit-box-shadow: 0px 6px 9px -3px rgba(170, 170, 170, 0.8);
          box-shadow: 0px 6px 9px -3px rgba(170, 170, 170, 0.8);
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .button:hover {
    color: #5368df;
    background: #ffffff;
  }
}
.button--margin-right {
  margin-right: 13px;
}
.button--grey-background {
  background: #f7f7f7;
  border: 2px solid #f7f7f7;
  color: #6d6c7c;
}
@media screen and (min-width: 768px) {
  .button--grey-background:hover {
    border: 2px solid #6d6c7c;
    background: #ffffff;
    color: #6d6c7c;
  }
}
.button--red {
  background: #fa5757;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #fa5757;
}
@media screen and (min-width: 768px) {
  .button--red:hover {
    color: #fa5757;
    background: #ffffff;
  }
}
.button--uppercase {
  text-transform: uppercase;
}
.button--full-width {
  width: 100%;
}
.button--transparent {
  background: transparent;
  border: 2px solid #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 15px;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .button--red-desktop {
    background: #fa5757;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 2px solid #fa5757;
    font-size: inherit;
    padding: 12px 30px;
  }
  .button--red-desktop:hover {
    color: #fa5757;
    background: #ffffff;
    border: 2px solid #fa5757;
  }
}
.button--display-none-mobile {
  display: none;
}
@media screen and (min-width: 768px) {
  .button--display-none-mobile {
    display: inline-block;
  }
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .description {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.section-image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.section-image-wrapper::before {
  content: "";
  background: #5368df;
  position: absolute;
  width: 95%;
  height: 80%;
  right: -32px;
  top: 20%;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 40%;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .section-image-wrapper::before {
    top: 30%;
    width: 100%;
    right: -80px;
  }
}
@media screen and (min-width: 1024px) {
  .section-image-wrapper::before {
    right: -165px;
  }
}
.section-image-wrapper--background-rotate-180deg {
  margin-bottom: 13%;
}
@media screen and (min-width: 1024px) {
  .section-image-wrapper--background-rotate-180deg {
    margin-bottom: 3%;
  }
}
.section-image-wrapper--background-rotate-180deg::before {
  height: 95%;
  width: 85%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: auto;
  left: -32px;
}
@media screen and (min-width: 768px) {
  .section-image-wrapper--background-rotate-180deg::before {
    left: -80px;
    top: 80px;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .section-image-wrapper--background-rotate-180deg::before {
    left: -165px;
  }
}
@media screen and (min-width: 768px) {
  .section-image-wrapper--width-50percent-desktop {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .section-image-wrapper--padding-l-5percent-desktop {
    padding-left: 5%;
  }
}

@media screen and (min-width: 768px) {
  .section-image {
    margin: 0 10% 0 10%;
  }
}
.section-image--negative-margin-22px {
  margin: 0 -22px;
}
@media screen and (min-width: 768px) {
  .section-image--negative-margin-22px {
    margin: 0 -7%;
  }
}
@media screen and (min-width: 768px) {
  .section-image--scale-1-1-desktop {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
}

@media screen and (min-width: 768px) {
  .section-content {
    width: 100%;
  }
}
.section-content__title {
  color: #252b46;
  font-weight: 500;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .section-content__title {
    font-size: 26px;
  }
}
.section-content__title--big {
  font-size: 30px;
}
@media screen and (min-width: 768px) {
  .section-content__title--big {
    font-size: 38px;
  }
}
.section-content__title--white {
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .section-content__title--left-align-desktop {
    text-align: left;
  }
}
.section-content__paragraph {
  color: #9194a1;
  line-height: 1.6;
  margin-bottom: 40px;
  text-align: center;
  font-size: 15px;
}
@media screen and (min-width: 768px) {
  .section-content__paragraph {
    font-size: 16px;
    letter-spacing: 0.01em;
  }
}
@media screen and (min-width: 768px) {
  .section-content__paragraph--left-align-desktop {
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .section-content__paragraph--padding-l-r-28percent-desktop {
    padding: 0 28%;
  }
}
@media screen and (min-width: 768px) {
  .section-content--width-50percent-desktop {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .section-content--padding-r-6percent-desktop {
    padding-right: 6%;
  }
}
@media screen and (min-width: 768px) {
  .section-content--padding-l-10percent-desktop {
    padding-left: 10%;
  }
}

.features {
  margin-top: 135px;
}

.features-table__nav-list {
  list-style: none;
  text-align: center;
  color: #9194a1;
  padding: 0;
  margin: 0;
  font-size: 18px;
}
.features-table__nav-list li:last-child {
  border-bottom: 1px solid #9194a1;
}
@media screen and (min-width: 768px) {
  .features-table__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.features-table__nav-item {
  padding: 22px 0;
  border-top: 1px solid #9194a1;
  cursor: pointer;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  position: relative;
}
@media screen and (min-width: 768px) {
  .features-table__nav-item {
    border-top: none;
    border-bottom: 1px solid #9194a1;
    width: 25%;
  }
  .features-table__nav-item:hover {
    color: #fa5757;
  }
}
.features-table__nav-item::after {
  content: "";
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  background: #fa5757;
  width: 100%;
  height: 4px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
}
.features-table__nav-item--active {
  color: #252b46;
}
.features-table__nav-item--active::after {
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
}
@media screen and (min-width: 768px) {
  .features-table__nav-item--active::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
.features-table__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -32px;
}
.features-table__content-wrapper > div:nth-of-type(1) {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
@media screen and (min-width: 768px) {
  .features-table__content-wrapper > div:nth-of-type(1) {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
.features-table__content-wrapper > div:nth-of-type(1).features-table__content-block--active {
  -webkit-animation-name: is-active-1;
          animation-name: is-active-1;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media screen and (min-width: 768px) {
  .features-table__content-wrapper > div:nth-of-type(1).features-table__content-block--active {
    -webkit-animation: none;
            animation: none;
  }
}
.features-table__content-wrapper > div:nth-of-type(1).features-table__content-block--active > div:nth-of-type(1) {
  -webkit-animation-name: is-active-left-desktop;
          animation-name: is-active-left-desktop;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.features-table__content-wrapper > div:nth-of-type(1).features-table__content-block--active > div:nth-of-type(2) {
  -webkit-animation-name: is-active-right-desktop;
          animation-name: is-active-right-desktop;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.features-table__content-wrapper > div:nth-of-type(1):not(.features-table__content-block--active) {
  -webkit-animation-name: going-out-1;
          animation-name: going-out-1;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
}
@media screen and (min-width: 768px) {
  .features-table__content-wrapper > div:nth-of-type(1):not(.features-table__content-block--active) {
    -webkit-animation-name: going-out-desktop-1;
            animation-name: going-out-desktop-1;
    -webkit-animation-duration: 300ms;
            animation-duration: 300ms;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}
.features-table__content-wrapper > div:nth-of-type(2) {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
@media screen and (min-width: 768px) {
  .features-table__content-wrapper > div:nth-of-type(2) {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
.features-table__content-wrapper > div:nth-of-type(2).features-table__content-block--active {
  -webkit-animation-name: is-active-2;
          animation-name: is-active-2;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media screen and (min-width: 768px) {
  .features-table__content-wrapper > div:nth-of-type(2).features-table__content-block--active {
    -webkit-animation: none;
            animation: none;
  }
}
.features-table__content-wrapper > div:nth-of-type(2).features-table__content-block--active > div:nth-of-type(1) {
  -webkit-animation-name: is-active-left-desktop;
          animation-name: is-active-left-desktop;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.features-table__content-wrapper > div:nth-of-type(2).features-table__content-block--active > div:nth-of-type(2) {
  -webkit-animation-name: is-active-right-desktop;
          animation-name: is-active-right-desktop;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.features-table__content-wrapper > div:nth-of-type(2):not(.features-table__content-block--active) {
  -webkit-animation-name: going-out-2;
          animation-name: going-out-2;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
}
@media screen and (min-width: 768px) {
  .features-table__content-wrapper > div:nth-of-type(2):not(.features-table__content-block--active) {
    -webkit-animation-name: going-out-desktop-2;
            animation-name: going-out-desktop-2;
    -webkit-animation-duration: 300ms;
            animation-duration: 300ms;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}
.features-table__content-wrapper > div:nth-of-type(3) {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
@media screen and (min-width: 768px) {
  .features-table__content-wrapper > div:nth-of-type(3) {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}
.features-table__content-wrapper > div:nth-of-type(3).features-table__content-block--active {
  -webkit-animation-name: is-active-3;
          animation-name: is-active-3;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media screen and (min-width: 768px) {
  .features-table__content-wrapper > div:nth-of-type(3).features-table__content-block--active {
    -webkit-animation: none;
            animation: none;
  }
}
.features-table__content-wrapper > div:nth-of-type(3).features-table__content-block--active > div:nth-of-type(1) {
  -webkit-animation-name: is-active-left-desktop;
          animation-name: is-active-left-desktop;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.features-table__content-wrapper > div:nth-of-type(3).features-table__content-block--active > div:nth-of-type(2) {
  -webkit-animation-name: is-active-right-desktop;
          animation-name: is-active-right-desktop;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.features-table__content-wrapper > div:nth-of-type(3):not(.features-table__content-block--active) {
  -webkit-animation-name: going-out-3;
          animation-name: going-out-3;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
}
@media screen and (min-width: 768px) {
  .features-table__content-wrapper > div:nth-of-type(3):not(.features-table__content-block--active) {
    -webkit-animation-name: going-out-desktop-3;
            animation-name: going-out-desktop-3;
    -webkit-animation-duration: 300ms;
            animation-duration: 300ms;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}
@media screen and (min-width: 768px) {
  .features-table__content-wrapper {
    margin: 0 -80px;
  }
}
@media screen and (min-width: 1024px) {
  .features-table__content-wrapper {
    margin: 0 -165px;
  }
}
.features-table__content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 72px;
  width: 100%;
  min-width: 100vw;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  padding: 0 32px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .features-table__content-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 80px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  .features-table__content-block {
    padding: 0 165px;
  }
}

@-webkit-keyframes is-active-1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes is-active-1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes is-active-2 {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes is-active-2 {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@-webkit-keyframes is-active-3 {
  0% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}
@keyframes is-active-3 {
  0% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}
@-webkit-keyframes going-out-1 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes going-out-1 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@-webkit-keyframes going-out-2 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes going-out-2 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes going-out-3 {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes going-out-3 {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@-webkit-keyframes is-active-left-desktop {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes is-active-left-desktop {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes is-active-right-desktop {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes is-active-right-desktop {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes going-out-desktop-1 {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes going-out-desktop-1 {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@-webkit-keyframes going-out-desktop-2 {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes going-out-desktop-2 {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@-webkit-keyframes going-out-desktop-3 {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes going-out-desktop-3 {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
.download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.download-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .download-cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: self-start;
        -ms-flex-align: self-start;
            align-items: self-start;
  }
  .download-cards > div:nth-of-type(2) {
    margin-top: 42px;
  }
  .download-cards > div:nth-of-type(3) {
    margin-top: 84px;
  }
}

.download-card {
  margin: 0 15px 40px 15px;
  text-align: center;
  border-radius: 9px;
  -webkit-box-shadow: 0px 6px 9px -3px rgba(170, 170, 170, 0.8);
          box-shadow: 0px 6px 9px -3px rgba(170, 170, 170, 0.8);
  padding: 45px 25px 25px 25px;
}
@media screen and (min-width: 768px) {
  .download-card {
    max-width: 275px;
  }
}
.download-card__title {
  color: #252b46;
}
.download-card__version {
  color: #9194a1;
}
.download-card__dots-separator {
  margin: 0 -25px 22px -25px;
  width: calc(100% + 50px);
}

.faq {
  margin: 80px 0 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq-content {
  margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .faq-content {
    max-width: 540px;
  }
}
.faq-content__item {
  border-bottom: 1px solid #9194a1;
  position: relative;
  line-height: 1.5;
  padding-bottom: 23px;
  margin-bottom: 30px;
}
.faq-content__item--active .faq-content__question {
  padding-bottom: 18px;
}
.faq-content__item--active .faq-content__arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.faq-content__item--active .faq-content__arrow path {
  stroke: #fa5757;
}
.faq-content__item--active .faq-content__answer {
  max-height: 100px;
}
.faq-content__question {
  color: #252b46;
  cursor: pointer;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.faq-content__question:hover {
  color: #fa5757;
}
.faq-content__question-statement {
  display: inline-block;
  margin: 0;
}
.faq-content__arrow {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.faq-content__arrow path {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.faq-content__answer {
  color: #9194a1;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.contact {
  background: #5368df;
  padding: 72px 32px 0 32px;
  margin: 0 -32px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .contact {
    padding: 72px 80px 0 80px;
    margin: 0 -80px;
  }
}
@media screen and (min-width: 1024px) {
  .contact {
    padding: 72px 165px 0 165px;
    margin: 0 -165px;
  }
}
.contact__subtitle {
  text-transform: uppercase;
  letter-spacing: 0.18em;
  font-size: 15px;
}

.contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contact-wrapper {
    max-width: 405px;
    margin: auto;
  }
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .contact-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.contact-form__email {
  border: none;
  border-radius: 4px;
  padding: 16px 20px;
}
.contact-form__email::-webkit-input-placeholder {
  color: #9194a1;
}
.contact-form__email::-moz-placeholder {
  color: #9194a1;
}
.contact-form__email:-ms-input-placeholder {
  color: #9194a1;
}
.contact-form__email::-ms-input-placeholder {
  color: #9194a1;
}
.contact-form__email::placeholder {
  color: #9194a1;
}
.contact-form__email-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .contact-form__email-wrapper {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-right: 16px;
  }
}
.contact-form__error {
  max-height: 0;
  margin-bottom: 16px;
  visibility: hidden;
  background: #fa5757;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-style: italic;
  text-align: left;
  font-size: 12px;
  position: relative;
}
.contact-form--invalid {
  margin-bottom: 29px;
}
.contact-form--invalid .contact-form__email {
  border: 2px solid #fa5757;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.contact-form--invalid .contact-form__error {
  visibility: visible;
  max-height: 30px;
  padding: 6px 12px;
}
.contact-form--invalid .contact-form__error::before {
  content: url("../images/icon-error.svg");
  position: absolute;
  right: 16px;
  bottom: 43px;
}

.footer {
  position: relative;
  background: #252b46;
  margin: 0 -32px;
}
@media screen and (min-width: 768px) {
  .footer {
    margin: 0 -80px;
    padding: 0 80px;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    margin: 0 -165px;
    padding: 0 165px;
  }
}
.footer .attribution {
  color: #ffffff;
  text-align: center;
  font-size: 11px;
}
.footer .attribution a {
  color: #9194a1;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0;
}
@media screen and (min-width: 768px) {
  .footer-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=style.css.map */
