@use 'sass:math';
@import "fonts";
@import "variables";


* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

body {
    margin: 0;
    padding: 0 32px;
    font-family: $rubik;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    
    &.body--menu-open {
        overflow: hidden;
    }
    @media screen and (min-width: $breakpoint-sm) {
        padding: 0 80px;
    }
    @media screen and (min-width: $breakpoint-md) {
        padding: 0 165px;
    }
}

.header {
    position: relative;
    margin: 0 -32px;
    padding: 40px 32px 70px 32px;
    @media screen and (min-width: $breakpoint-sm) {
        padding: 48px 0 100px 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    z-index: 2;
    position: relative;
    path {
        transition: .25s ease-in-out;
    }
    circle {
        transition: .25s ease-in-out;
    }
    &--all-white {
        path {
            fill: #ffffff;
            &:last-child {
                fill: $very-dark-blue-transparent;
            }
        }
        circle {
            fill: #ffffff;
        }
    }
    &--white-wording {
        path {
            fill: #ffffff;
        }
    }
}

.burger-menu {
    width: 18px;
    height: 15px;
    position: absolute;
    right: 32px;
    margin: 5px 0;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 2;
    background: none;
    border: none;
    @media screen and (min-width: $breakpoint-sm) {
        display: none;
    }
    @for $i from 1 through 3 {
        &__inner-#{$i} {
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            background: $very-dark-blue;
            border-radius: 3px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
            transform-origin: left center;
            $value: 6*$i - 6;
            top: $value + px;
        }
    }
    &--open {
        > .burger-menu__inner-1 {
            transform: rotate(45deg);
            top: 0;
            left: 4px;
            background: #ffffff;
        }
        > .burger-menu__inner-2 {
            width: 0%;
            opacity: 0;
            background: #ffffff;
        }
        > .burger-menu__inner-3 {
            transform: rotate(-45deg);
            top: 12.5px;
            left: 4px;
            background: #ffffff;
        }
        + .nav {
            border-bottom-left-radius: 0;
            transform: translate(0,0);
            overflow: hidden;
        }
    }
}

.nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background: $very-dark-blue-transparent;
    top: 0;
    left: 0 ;
    width: 100%;
    padding: 105px 32px 45px 32px;
    transition: .4s ease-in-out;
    border-bottom-left-radius: 100%;
    transform: translate(100%,-100%);
    z-index: 1;
    @media screen and (min-width: $breakpoint-sm) {
        transform: translate(0, 0);
        background: none;
        padding: 0;
        height: auto;
        position: static;
        width: auto;
    }
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    @media screen and (min-width: $breakpoint-sm) {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    li:last-child {
        border: none;
        padding: 24px 0;
        @media screen and (min-width: $breakpoint-sm) {
            padding: 0;
            margin-right: 0;
        }
    }
    &__item {
        padding: 26px 0;
        border-top: 1px solid $grayish-blue;
        border-bottom: 1px solid $grayish-blue;
        @media screen and (min-width: $breakpoint-sm) {
            border: none;
            padding: 0;
            margin: 0 10px;
        }
        @media screen and (min-width: $breakpoint-md) {
            margin: 0 24px;
        }
        &--no-border {
            border: none;
        }
        &--padding-b-t-19px-mobile {
            padding: 19px 0;
            @media screen and (min-width: $breakpoint-sm) {
                padding: 0;
            }
        }
    }
    &__link {
        text-decoration: none;
        color: white;
        @media screen and (min-width: $breakpoint-sm) {
            color: $very-dark-blue;
            transition: all 300ms ease-in-out;
            &:hover {
                color: $soft-red;
            }
        }
        &--white-desktop {
            @media screen and (min-width: $breakpoint-sm) {
                color: #ffffff;
            }
        }
    }
    &--font-20px {
        font-size: 20px;
    }
    &--font-18px-desktop {
        @media screen and (min-width: $breakpoint-sm) {
            font-size: 18px;
        }
    }
    &--margin-t-20-b-30-mobile {
        margin: 20px 0 30px 0;
        @media screen and (min-width: $breakpoint-sm) {
            margin: 0;
        }
    }
    &--margin-l-40px-desktop {
        @media screen and (min-width: $breakpoint-sm) {
            margin-left: 40px;
        }
    }
    &--flex-grow-desktop {
        width: auto;
        flex-grow: 1;
    }
}

.social-media {
    &__icon {
        margin: 0 19px;
        @media screen and (min-width: $breakpoint-sm) {
            &:hover {
                path {
                    fill: $soft-red;
                }
            }
        }
        path {
            transition: .25s ease-in-out;
        }
    }
    &--display-none-desktop {
        @media screen and (min-width: $breakpoint-sm) {
            display: none;
        }
    }
}

.button {
    padding: 14px 18px;
    color: #ffffff;
    border-radius: 4px;
    background: $soft-blue;
    border: 2px solid $soft-blue;
    box-shadow: 0px 6px 9px -3px rgba(170,170,170,0.8);
    cursor: pointer;
    transition: all 300ms ease-in-out;
    @media screen and (min-width: $breakpoint-sm) {
        &:hover {
            color: $soft-blue;
            background: #ffffff;
        }
    }
    &--margin-right {
        margin-right: 13px;
    }
    &--grey-background {
        background: #f7f7f7;
        border: 2px solid #f7f7f7;
        color: #6d6c7c;
        @media screen and (min-width: $breakpoint-sm) {
            &:hover {
                border: 2px solid #6d6c7c;
                background: #ffffff;
                color: #6d6c7c;
            }
        }
    }
    &--red {
        background: $soft-red;
        box-shadow: none;
        border: 2px solid $soft-red;
        @media screen and (min-width: $breakpoint-sm) {
            &:hover {
                color: $soft-red;
                background: #ffffff;
            }
        }
    }
    &--uppercase {
        text-transform: uppercase;
    }
    &--full-width {
        width: 100%;
    }
    &--transparent {
        background: transparent;
        border: 2px solid #ffffff;
        box-shadow: none;
        padding: 15px;
        font-size: 20px;
    }
    &--red-desktop {
        @media screen and (min-width: $breakpoint-sm) {
            background: $soft-red;
            box-shadow: none;
            border: 2px solid $soft-red;
            font-size: inherit;
            padding: 12px 30px;
            &:hover {
                color: $soft-red;
                background: #ffffff;
                border: 2px solid $soft-red;
            }
        }
    }
    &--display-none-mobile {
        display: none;
        @media screen and (min-width: $breakpoint-sm) {
            display: inline-block;
        }
    }
}

.description {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $breakpoint-sm) {
        flex-direction: row-reverse;
        align-items: flex-start;
    }
}

.section-image-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    &::before {
        content: '';
        background: $soft-blue;
        position: absolute;
        width: 95%;
        height: 80%;
        right: -32px;
        top: 20%;
        border-top-left-radius: 40%;
        border-bottom-left-radius: 40%;
        z-index: -1;
        @media screen and (min-width: $breakpoint-sm) {
            top: 30%;
            width: 100%;
            right: -80px;
        }
        @media screen and (min-width: $breakpoint-md) {
            right: -165px;
        }
    }
    &--background-rotate-180deg {
        margin-bottom: 13%;
        @media screen and (min-width: $breakpoint-md) {
            margin-bottom: 3%;
        }
        &::before {
            height: 95%;
            width: 85%;
            transform: rotate(180deg);
            right: auto;
            left: -32px;
            @media screen and (min-width: $breakpoint-sm) {
                left: -80px;
                top: 80px;
                width: 100%;
            }
            @media screen and (min-width: $breakpoint-md) {
                left: -165px;
            }
        }
    }
    &--width-40percent-tablet {
        @media screen and (min-width: $breakpoint-sm) {
            width: 40%;
        }
    }
    &--width-50percent-desktop {
        @media screen and (min-width: $breakpoint-md) {
            width: 50%;
        }
    }
    &--padding-l-5percent-desktop {
        @media screen and (min-width: $breakpoint-sm) {
            padding-left: 5%;
        }
    }
}

.section-image {
    @media screen and (min-width: $breakpoint-sm) {
        margin: 0 10% 0 10%;
    }
    &--negative-margin-22px {
        margin: 0 -22px;
        @media screen and (min-width: $breakpoint-sm) {
            margin: 0 -7%;
        }
    }
    &--scale-1-1-desktop {
        @media screen and (min-width: $breakpoint-sm) {
            transform: scale(1.1);
            transform-origin: left;
        }
    }
}

.section-content {
    @media screen and (min-width: $breakpoint-sm) {
        width: 100%;
    }
    &__title {
        color: $very-dark-blue;
        font-weight: 500;
        text-align: center;
        @media screen and (min-width: $breakpoint-sm) {
            font-size: 26px;
        }
        &--big {
            font-size: 30px;
            @media screen and (min-width: $breakpoint-sm) {
                font-size: 38px;
            }
        }
        &--white {
            color: #ffffff;
        }
        &--left-align-desktop {
            @media screen and (min-width: $breakpoint-sm) {
                text-align: left;
            }
        }
    }
    &__paragraph {
        color: $grayish-blue;
        line-height: 1.6;
        margin-bottom: 40px;
        text-align: center;
        font-size: 15px;
        @media screen and (min-width: $breakpoint-sm) {
            font-size: 16px;
            letter-spacing: 0.01em;
        }
        &--left-align-desktop {
            @media screen and (min-width: $breakpoint-sm) {
                text-align: left;
            }
        }
        &--padding-l-r-28percent-desktop {
            @media screen and (min-width: $breakpoint-sm) {
                padding: 0 28%;
            }
        }
    }
    &--width-60percent-tablet {
        @media screen and (min-width: $breakpoint-sm) {
            width: 60%;
        }
    }
    &--width-50percent-desktop {
        @media screen and (min-width: $breakpoint-md) {
            width: 50%;
        }
    }
    &--padding-r-6percent-desktop {
        @media screen and (min-width: $breakpoint-sm) {
            padding-right: 6%;
        }
    }
    &--padding-l-10percent-desktop {
        @media screen and (min-width: $breakpoint-sm) {
            padding-left: 10%;
        }
    }
}

.features {
    margin-top: 135px;
}

.features-table {
    &__nav-list {
        list-style: none;
        text-align: center;
        color: $grayish-blue;
        padding: 0;
        margin: 0;
        font-size: 18px;
        li:last-child {
            border-bottom: 1px solid $grayish-blue;
        }
        @media screen and (min-width: $breakpoint-sm) {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
    &__nav-item {
        padding: 22px 0;
        border-top: 1px solid $grayish-blue;
        cursor: pointer;
        transition: .25s ease-in-out;
        position: relative;
        @media screen and (min-width: $breakpoint-sm) {
            border-top: none;
            border-bottom: 1px solid $grayish-blue;
            width: 25%;
            &:hover {
                color: $soft-red;
            }
        }
        &::after {
            content: '';
            transition: .25s ease-in-out;
            background: $soft-red;
            width: 100%;
            height: 4px;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            transform: scaleX(0);
            transform-origin: center;
        }
        &--active {
            color: $very-dark-blue;
            &::after {
                transform: scaleX(0.5);
                @media screen and (min-width: $breakpoint-sm) {
                    transform: scaleX(1);
                }
            } 
        }
    }
    &__content-wrapper {
        display: flex;
        margin: 0 -32px;
        @for $i from 1 through 3 {
            > div:nth-of-type(#{$i}) {
                $value: 2 - $i;
                transform: translateX(math.percentage($value));
                @media screen and (min-width: $breakpoint-sm) {
                    $value-desktop: 1 - $i;
                    transform: translateX(math.percentage($value-desktop));
                }
                &.features-table__content-block--active {
                    animation-name: is-active-#{$i};
                    animation-duration: 300ms;
                    animation-fill-mode: forwards;
                    @media screen and (min-width: $breakpoint-sm) {
                        animation: none;
                    }
                    > div:nth-of-type(1) {
                        animation-name: is-active-left-desktop;
                        animation-duration: 300ms;
                        animation-fill-mode: forwards;
                    }
                    > div:nth-of-type(2) {
                        animation-name: is-active-right-desktop;
                        animation-duration: 300ms;
                        animation-fill-mode: forwards;
                    }
                }
                &:not(.features-table__content-block--active) {
                    animation-name: going-out-#{$i};
                    animation-duration: 300ms;
                    @media screen and (min-width: $breakpoint-sm) {
                        animation-name: going-out-desktop-#{$i};
                        animation-duration: 300ms;
                        animation-fill-mode: forwards;
                    }
                }
            }
        }
        @media screen and (min-width: $breakpoint-sm) {
            margin: 0 -80px;
        }
        @media screen and (min-width: $breakpoint-md) {
            margin: 0 -165px;
        }
    }
    &__content-block {
        display: flex;
        flex-direction: column;
        margin-top: 72px;
        width: 100%;
        min-width: 100vw;
        transition: .25s ease-in-out;
        padding: 0 32px;
        margin-bottom: 50px;
        @media screen and (min-width: $breakpoint-sm) {
            flex-direction: row;
            padding: 0 80px;
            align-items: flex-start;
        }
        @media screen and (min-width: $breakpoint-md) {
            padding: 0 165px;
        }
    }
}

@keyframes is-active-1{
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes is-active-2{
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes is-active-3{
    0% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-200%);
    }
}

@keyframes going-out-1{
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes going-out-2{
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes going-out-3{
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes is-active-left-desktop{
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes is-active-right-desktop{
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes going-out-desktop-1{
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes going-out-desktop-2{
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes going-out-desktop-3{
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
        transform: translateX(-200%);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

.download {
    display: flex;
    flex-direction: column;
}

.download-cards {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $breakpoint-sm) {
        flex-direction: row;
        justify-content: center;
        align-items: self-start;
        > div:nth-of-type(2) {
            margin-top: 42px;
        }
        > div:nth-of-type(3) {
            margin-top: 84px;
        }
    }
}

.download-card {
    margin: 0 15px 40px 15px;
    text-align: center;
    border-radius: 9px;
    box-shadow: 0px 6px 9px -3px rgba(170,170,170,0.8);
    padding: 45px 25px 25px 25px;
    @media screen and (min-width: $breakpoint-sm) {
        max-width: 275px;
    }
    &__title {
        color: $very-dark-blue;
    }
    &__version {
        color: $grayish-blue;
    }
    &__dots-separator {
        margin: 0 -25px 22px -25px;
        width: calc(100% + 50px);
    }
}

.faq {
    margin: 80px 0 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-content {
    margin-bottom: 18px;
    @media screen and (min-width: $breakpoint-sm) {
        max-width: 540px;
    }
    &__item {
        border-bottom: 1px solid $grayish-blue;
        position: relative;
        line-height: 1.5;
        padding-bottom: 23px;
        margin-bottom: 30px;
        &--active {
            .faq-content__question {
                padding-bottom: 18px;
            }
            .faq-content__arrow {
                transform: rotate(180deg);
                path {
                    stroke: $soft-red;
                }
            }
            .faq-content__answer {
                max-height: 100px;
            }
        }
    }
    &__question {
        color: $very-dark-blue;
        cursor: pointer;
        transition: all 1s ease-in-out;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        transition: all 300ms ease-in-out;
            &:hover {
                color: $soft-red;
            }
        }
    &__question-statement {
        display: inline-block;
        margin: 0;
    }
    &__arrow {
        transition: all 1s ease-in-out;
        flex-shrink: 0;
        path {
            transition: all 1s ease-in-out;
        }
    }
    &__answer {
        color: $grayish-blue;
        max-height: 0;
        overflow: hidden;
        transition: all 1s ease-in-out;
    }
}

.contact {
    background: $soft-blue;
    padding: 72px 32px 0 32px;
    margin: 0 -32px;
    color: #ffffff;
    @media screen and (min-width: $breakpoint-sm) {
        padding: 72px 80px 0 80px;
        margin: 0 -80px;
    }
    @media screen and (min-width: $breakpoint-md) {
        padding: 72px 165px 0 165px;
        margin: 0 -165px;
    }
    &__subtitle {
        text-transform: uppercase;
        letter-spacing: 0.18em;
        font-size: 15px;
    }
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    @media screen and (min-width: $breakpoint-sm) {
        max-width: 405px;
        margin: auto;
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    @media screen and (min-width: $breakpoint-sm) {
        flex-direction: row;
        align-items: flex-start;
    }
    &__email {
        border: none;
        border-radius: 4px;
        padding: 16px 20px;
        &::placeholder {
            color: $grayish-blue;
        }
    }
    &__email-wrapper {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $breakpoint-sm) {
            flex-grow: 1;
            margin-right: 16px;
        }
    }
    &__error {
        max-height: 0;
        margin-bottom: 16px;
        visibility: hidden;
        background: $soft-red;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        font-style: italic;
        text-align: left;
        font-size: 12px;
        position: relative;
    }
    &--invalid {
        margin-bottom: 29px;
        .contact-form__email {
            border: 2px solid $soft-red;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
        }
        .contact-form__error {
            visibility: visible;
            max-height: 30px;
            padding: 6px 12px;
            &::before {
                content: url('../images/icon-error.svg');
                position: absolute;
                right: 16px;
                bottom: 43px;
            }
        }
    }
}

.footer {
    position: relative;
    background: $very-dark-blue;
    margin: 0 -32px;
    @media screen and (min-width: $breakpoint-sm) {
        margin: 0 -80px;
        padding: 0 80px;
    }
    @media screen and (min-width: $breakpoint-md) {
        margin: 0 -165px;
        padding: 0 165px;
    }
    .attribution {
        color: #ffffff;
        text-align: center;
        font-size: 11px;
        a {
            color: $grayish-blue;
        }
    }
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
    @media screen and (min-width: $breakpoint-sm) {
        flex-direction: row;
    }
}
